server:
  port: 3100

spring:
  application:
    name: config-server

  profiles:
    active: git

  cloud:
    config:
      server:
        git:
          uri: https://github.com/sparta-hub-5/project-configs
          default-label: main
          search-paths:
            - configs
            - configs/*
          basedir: configs_cache
          clone-on-start: true

#유레카 등록
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:3150/eureka/